
.about{
  min-height: 600px;
  width:100%;
  background-color: orange;
  padding: 80px 100px;
}

.about_content{
  background-color: red;
  padding: 40px;
  border-radius: 20px;
  
}

.about_left{
  width: 100%;
  background-color: yellow;
  display: inline-block;
}

.profile_img{
  float: left;
  width: 200px;
  height: 200px; 
  border-radius: 10px;
}

.intro{
  padding: 30px 10px;
  float: left;
  width: 360px;
}

.intro>ul{
  list-style: none;
  line-height: 1.3;
}

.intro>ul>li{
  font-size: 30px;
}

.intro>ul>li>strong{
  margin-right: 10px;
}

.skills{
  clear: both;
  padding: 2px 10px;
  float: left;
  font-size: 40px;
}

.skills h3{
  text-transform: uppercase;
  line-height: 1.4;
}

.skills ul{
  list-style: none;
  line-height: 1.3;
}

.skills>ul>li{
  font-size: 30px;
}

.about_right{
  width: 49%;
  height: 100%;
  float: right;
  padding: 40px;
}

.about_right h1{
  font-size: 36px;
  margin:  5px 0px 30px 0px;
}

.about_right p{
  font-size: 16px;
  line-height: 1.4;
}