*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    background-color: #1f1f1f;
    width: 100%;
}
.container{
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    justify-items:center;
    align-items: center;
    padding: 2px 10px;
}
.logo_text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 33px;
    letter-spacing: 8px;
    font-weight: 100px;
    text-transform: uppercase;
    color:aqua;
    padding: 20px 10px;
}
.navbar{
    display: flex;
    gap: 10px;
}
.navbar>nav>a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.navbar>nav>a:hover{
    color: #1f1f1f;
    background-color: white;
}
.hero{
    min-height: 560px;
    background-color: red;
    background-image: url(../class22/computer.jpg);
    background-size: cover;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-top: 60px;
}
.hero_heading{
    color:#fff;
    font-size: 100px;
    text-shadow: 0px 7px 6px rgba(0,0,0,9);
    margin-bottom: 20px;
}
.hero_heading span{
   
    text-transform: capitalize;
}
 .sub_heading{
    display: flex;
    justify-content: center;
    justify-items: center;
    color:white;
    font-size: 40px;
    letter-spacing: 4px;
    padding-top: 20px;

 }
 

 .about{
    min-height: 700px;
    width:100%;
    background-color:rgb(231, 226, 226);
    padding: 80px 100px;
    
 }
 .about_content{
   background-color: #fff;
   padding: 40px;
   border-radius: 20px;
   height: 800px;
 }
 .about_left{
    width: 48%;
    height: 100%;
    float: left;
    
 }
 .profile_img{
    float: left;
    width: 180px;
    height: 180px; 
    border-radius: 10px;
 }
.intro{
    padding: 30px 5px;
    float: right;
    margin-left: 25px;
    width: 300px;
}
.intro>ul{
    list-style: none;
    line-height: 1.3;
}
.intro>ul>li{
    font-size: 30px;
    margin-bottom: 10px;
}
.intro>ul>li>strong{
    margin-right: 12px;
}
.skills{
    clear: both;
    padding: 2px 10px;
    width: 30%;
}

.skills h3{
    text-transform: uppercase;
    font-size: 40px;
    margin:10px 15px;
    line-height: 1.4;
}
.skills ul{
    list-style: none;
    line-height: 2.6;
    font-size: 20px;
}
.about_right{
    width: 40%;
    height: 100%; 
    float: right;
    padding: 40px;
} 
 .about_right h1{
    font-size: 36px;
    margin: 0px 0px 30px 0px;
}
.about_right p{
    font-size: 20px;
    line-height: 1.6; 
}
#services{
    width:100%;
    background-color:rgb(231, 226, 226);

}
 #services .head_body h2{
    padding-top: 10px;
    text-align: center;  
    font-size: 36px;
    margin-bottom: 10px;  
}
 #services .head_body p{
    font-size: 16px;
    text-align: center;
   
}
#services  .section_body{
    margin: 10px auto;
    max-width: 1000px;
    min-height: 600px;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center; 
}
#services .section_body .card{
     min-height: 270px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #9ad7f0;
}
#services .card .icon{
    background-color: antiquewhite;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 10px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1f1f1f;
    font-size: 20px;
    transition: all .3s  ease;

}
#services .card .head{
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
#services .card .card_body{
    padding:20px;
    font-size: 16px;
    text-align: center;
}
#services .card .icon:hover{
    background-color: white;
    border: 10px solid blue;
    

}
#container{
    width: 100%;
    background-color:#4A9EFC;
    min-height: 400px;
}
.container_conter{
    width: 1200px;
    /* background-color: brown; */
    margin: 0px auto 30px;
    min-height: 400px;
    display: flex;
    justify-content: space-around;
    
}
.container_child{
    /* background-color: rgb(57, 241, 226); */
    width:240px ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.container_child  .contaner_icon {
    border: 10px solid white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_child  .contaner_icon i{
    font-size: 30px;
}
.container_child:nth-child(1),.container_child:nth-child(2),.container_child:nth-child(3),
.container_child:nth-child(4){
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}
#protofoli_sec{
    min-width: 800px;
    background-color:rgb(231, 226, 226) ;
    padding: 30px;
}
.pro_heading h1{
            text-align: center;
            font-size: 40px;
            text-transform: uppercase;
            font-weight: 800px;
            padding: 10px;

}
.pro_heading p{
    text-align: center;
    font-size: 20px;
    letter-spacing: 3px;
}
#protofoli_sec .container{
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px 40px;
    margin-top: 10px;
}
.port_box{
    background-color: white;
    padding: 20px;
    border-radius: 20px;

}

.port_box img{
    max-height:300px ;
    width: 400px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.port_box p{
    font-size: 18px;
    padding: 6px 10px 20px;
    transition:  all 1.1 ease;
}
.port_box:hover{
    transform: scale(1.1);
}