*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
 /* ===== header_layout ===== */
header{
    background-color: #1f1f1f;
    width: 100%;
    z-index: 99;
    
}
.container{
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    justify-items:center;
    align-items: center;
    padding: 0px 20px;
    max-width: 1300px;
}
.logo_text{
    text-shadow: 0px 10px 8px rgba(0,0,0,0.97);
    font-family: 'Times New Roman', Times, serif;
    font-size: 33px;
    letter-spacing: 8px;
    font-weight: 100px;
    text-transform: uppercase;
    color:aqua;
    padding: 20px 10px;
}
.navbar{
    display: flex;
    gap: 10px;
}
.navbar>nav>a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 20px 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.navbar>nav>a:hover{
    color: #1f1f1f;
    background-color: white;
}
/* ===== header_layout ===== */


/* ===== profile detail ===== */
.hero{
    min-height: 630px;
    background-color: red;
    background-image: url(./image/developer.jpg);
    background-size: cover;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-top: 60px;
}
.hero_heading{
    color:#fff;
    font-size: 100px;
    text-shadow: 0px 7px 6px rgba(0,0,0,9);
    margin-bottom: 20px;
    font-family: "Roboto",sans-serif;
}
.hero_heading .special{
   
    text-transform: capitalize;
}
 .sub_heading{
    color:white;
    font-size: 40px;
    letter-spacing: 4px;
    padding-top: 20px;

 }
 

 .about{
    min-height: 700px;
    width:100%;
    background-color:rgb(231, 226, 226);
    padding: 80px 100px;
    
 }
 .about_content{
   background-color: #fff;
   padding: 40px;
   border-radius: 20px;
   height: 800px;
    box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.47);
 }
 .about_left{
    width: 48%;
    height: 100%;
    float: left;
    
 }
 .profile_img{
    float: left;
    width: 180px;
    height: 180px; 
    border-radius: 10px;
 }
.intro{
    padding: 30px 5px;
    float: right;
    margin-left: 25px;
    width: 300px;
}
.intro>ul{
    list-style: none;
    line-height: 1.3;
}
.intro>ul>li{
    font-size: 30px;
    margin-bottom: 10px;
}
.intro>ul>li>strong{
    margin-right: 12px;
}
.skills{
    clear: both;
    padding: 2px 10px;
    width: 30%;
}

.skills h3{
    text-transform: uppercase;
    font-size: 40px;
    margin:10px 15px;
    line-height: 1.4;
}
.skills ul{
    list-style: none;
    line-height: 2.6;
    font-size: 20px;
}
.about_right{
    width: 40%;
    height: 100%; 
    float: right;
    padding: 40px;
} 
 .about_right h1{
    font-size: 36px;
    margin: 0px 0px 30px 0px;
}
.about_right p{
    font-size: 20px;
    line-height: 1.6; 
}
/* ===== profile detail ===== */


/* ===== about_services ===== */
#services{
    width:100%;
    background-color:rgb(231, 226, 226);

}
 #services .head_body h2{
    padding-top: 10px;
    text-align: center;  
    font-size: 36px;
    margin-bottom: 10px;  
}
 #services .head_body p{
    font-size: 16px;
    text-align: center;
   
}
#services  .section_body{
    margin: 10px auto;
    max-width: 1000px;
    min-height: 600px;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center; 
}
#services .section_body .card{
     min-height: 270px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #9ad7f0;
}
#services .card .icon{
    background-color: antiquewhite;
    width: 100px;
    height: 90px;
    border-radius: 50%;
    border: 10px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1f1f1f;
    font-size: 20px;
    transition: all .3s  ease;

}
#services .card .head{
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
#services .card .card_body{
    padding:20px;
    font-size: 16px;
    text-align: center;
}
#services .card .icon:hover{
    background-color:blue;
    border: 10px solid white;
    color: white;
    

}
/* ===== about_services ===== */

/* ===== biodata ===== */
#container{
    width: 100%;
    background-color:#4A9EFC;
    min-height: 400px;
}
.container_conter{
    width: 1200px;
    /* background-color: brown; */
    margin: 0px auto 30px;
    min-height: 400px;
    display: flex;
    justify-content: space-around;
    
}
.container_child{
    /* background-color: rgb(57, 241, 226); */
    width:240px ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.container_child  .contaner_icon {
    border: 10px solid white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_child  .contaner_icon i{
    font-size: 30px;
}
.container_child:nth-child(1),.container_child:nth-child(2),.container_child:nth-child(3),
.container_child:nth-child(4){
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}
/* ===== biodata ===== */

/* ===== project_detail ====== */
#protofoli_sec{
    min-width: 500px;
    width: 100%;
    background-color:#4A9EFC ;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.port_heading{
    padding: 10px;
}
.port_heading h2{
    text-align: center;
    font-size: 36px;
    font-weight: 800px;
    letter-spacing: 1px;
}
.port_heading p{
    text-align: center;
    font-size: 18px;
    letter-spacing: 3px;
    margin-top: 10px;
}
#portfolio_sec .container{
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px 40px;
}   
.port_box{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 61px 1px rgba(0,0,0,0.48);
    -webkit-box-shadow: 0px 0px 61px 1px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 0px 61px 1px rgba(0,0,0,0.48);
    transition: All .7s ease;
}
.port_box:hover{
    transform: scale(1.1);
}
.port_box img{
    max-height: 250px;
    width: 350px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.port_box p{
    font-size: 18px;
    padding: 6px 10px 20px;
}

/* ===== project_detail ====== */


/* ====  profile  ==== */
.profile{
    min-height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: #4A9EFC;
}
.profile .profile_image{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.profile h3{
    font-size: 30px;
    color: white;
}
.profile p{
    font-size: 16px;
    color: white;
    max-width: 700px;
    text-align: center;
}


/* ====  profile  ==== */

.blog-parent{
  min-width: 800px;
  padding: 60px 30px;
  background: #f2f2f2;
}
.blog-heading{
  padding: 10px;
}
.blog-heading h1{
  font-size: 32px;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 800px;
}
.blog-heading p{
  color: gray;
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 3px;
}
.container{

    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px 40px;
}
.cards{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 61px 1px rgba(0,0,0,0.48);
    -webkit-box-shadow: 0px 0px 61px 1px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 0px 61px 1px rgba(0,0,0,0.48);
    transition: All .7s ease;
}

.cards:hover{
  transform: scale(1.1);
}


.cards img{
  width: 350%;
  max-width: 350px;
  margin-bottom: 10px;
  border-radius: 20px;
}
.cards h3{
  padding: 15px;
  font-size: 16px;
}
.cards p{
  padding: 0 15px 15px;
  color: #555;
  font-size: 14px;
}

/* ==== form === */
#contact_us{
    margin-top: 100px;
    min-height: 600px;
    width: 100%;
    background-color: #4A9EFC;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact_us .contact_container{
    border-radius: 10px;
    min-height: 500px;
    background-color: white;
    width: 70%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

.Form_left{
    width: 49%;
    padding: 30px 0px;
}
.Form_left form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
}

.form-control{
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: gray;
}

.Form_left .btn{
    width: 150px;
    padding: 10px;
    background-color: #4A9EFC;
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    align-self: center;
    cursor: pointer;
    transition: all .3s ease;
}
.Form_left .btn:hover{
    background-color: #2072d0;
}




.Form_left form h3{
    margin-bottom: 10px;
    font-size: 26px;
}


.About_right{   
    width: 49%;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.About_right h3{
    font-size: 30px;
}

.About_right p{
    font-size: 20px;
    line-height: 1.5;
}

.About_right .contacts{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.About_right .contacts p i{
    color:blue;
    margin-right: 10px;
}

.About_right .contacts p{
    font-size: 20px;
}